//font-family

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manuale:ital,wght@0,300..800;1,300..800&family=Noto+Serif+TC:wght@200..900&display=swap');

$header: calc(84px + 16px + 1px);
$footer: calc(84px + 16px + 1px);

.full-screen-with-footer {
  height: calc(100vh - $footer - $header);
}

.min-full-screen-with-footer {
  min-height: calc(100vh - $footer - $header);
}

.full-screen-without-footer {
  height: calc(100vh - $header);
}

.noto-serif-tc {
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
}

.manuale {
  font-family: "Manuale", serif;
  font-optical-sizing: auto;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

p {
  margin-bottom: 0;
}

.min-h-screen {
  // 螢幕高度扣掉navbar, footer 高度
  min-height: calc(100vh - 200px)
}

.line-clamp {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  white-space: normal;
  -webkit-line-clamp: 5;

  &.line-clamp-1 {
    -webkit-line-clamp: 1;
  }

  &.line-clamp-2 {
    -webkit-line-clamp: 2;
  }

  &.line-clamp-3 {
    -webkit-line-clamp: 3;
  }

  &.line-clamp-5 {
    -webkit-line-clamp: 5;
  }
}

.cursor {
  cursor: pointer;

  .btn-common {
    background-color: #0088cc;
    border: 2px solid #0088cc;
    border-radius: 8px;
    color: #fff;

    &:hover {
      background-color: #fff;
      border: 2px solid #0088cc;
      border-radius: 8px;
      color: #0088cc;
    }


  }


}

.backdrop-blur {
  will-change: backdrop-filter;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.pointer-none {
  pointer-events: none;
}

.require-icon::before {
  content: '*';
  font-size: 0.75rem;
  color: #dc3545;
  margin-right: 4px;
}